# Proyecto Parte II

### Siguiente paso
1. Preparación del Entorno
    - Asegúrate de tener instalado Pandas en tu entorno de trabajo.
    - Utiliza el archivo retail_sales.csv del proyecto inicial. Si aún no lo tienes, descarga el archivo correspondiente.
2. Cargar los Datos
    - Carga el archivo retail_sales.csv en un DataFrame de Pandas.
    - Muestra las primeras 10 filas del DataFrame para confirmar que los datos se han cargado correctamente.

In [9]:
import pandas as pd
import numpy as np

datos = pd.read_csv('../data/retail_sales_dataset.csv')
df = pd.DataFrame(datos)
print(df.head(10))

   Transaction ID        Date Customer ID  Gender  Age Product Category  \
0               1  2023-11-24     CUST001    Male   34           Beauty
1               2  2023-02-27     CUST002  Female   26         Clothing
2               3  2023-01-13     CUST003    Male   50      Electronics
3               4  2023-05-21     CUST004    Male   37         Clothing
4               5  2023-05-06     CUST005    Male   30           Beauty
5               6  2023-04-25     CUST006  Female   45           Beauty
6               7  2023-03-13     CUST007    Male   46         Clothing
7               8  2023-02-22     CUST008    Male   30      Electronics
8               9  2023-12-13     CUST009    Male   63      Electronics
9              10  2023-10-07     CUST010  Female   52         Clothing

   Quantity  Price per Unit  Total Amount
0         3              50           150
1         2             500          1000
2         1              30            30
3         1             500           500
4         2              50           100
5         1              30            30
6         2              25            50
7         4              25           100
8         2             300           600
9         4              50           200

3. Exploración Inicial de los Datos
    - Muestra las últimas 5 filas del DataFrame.
    - Utiliza el método info() para obtener información general sobre el DataFrame, incluyendo el número de entradas, nombres de las columnas, tipos de datos y memoria utilizada.
    - Genera estadísticas descriptivas del DataFrame utilizando el método describe().

In [10]:
print('\nÚltimas 5 filas del dataframe:')
print(df.tail(5))

Últimas 5 filas del dataframe:
     Transaction ID        Date Customer ID  Gender  Age Product Category  \
995             996  2023-05-16     CUST996    Male   62         Clothing
996             997  2023-11-17     CUST997    Male   52           Beauty
997             998  2023-10-29     CUST998  Female   23           Beauty
998             999  2023-12-05     CUST999  Female   36      Electronics
999            1000  2023-04-12    CUST1000    Male   47      Electronics

     Quantity  Price per Unit  Total Amount
995         1              50            50
996         3              30            90
997         4              25           100
998         3              50           150
999         4              30           120

In [11]:
print('\nInfo general del dataframe:')
print(df.info())

Info general del dataframe:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Transaction ID    1000 non-null   int64
 1   Date              1000 non-null   object
 2   Customer ID       1000 non-null   object
 3   Gender            1000 non-null   object
 4   Age               1000 non-null   int64
 5   Product Category  1000 non-null   object
 6   Quantity          1000 non-null   int64
 7   Price per Unit    1000 non-null   int64
 8   Total Amount      1000 non-null   int64
dtypes: int64(5), object(4)
memory usage: 70.4+ KB
None

In [12]:
print('\nEstadísticas descriptivas del dataframe:')
print(df.describe())

Estadísticas descriptivas del dataframe:
       Transaction ID         Age     Quantity  Price per Unit  Total Amount
count     1000.000000  1000.00000  1000.000000     1000.000000   1000.000000
mean       500.500000    41.39200     2.514000      179.890000    456.000000
std        288.819436    13.68143     1.132734      189.681356    559.997632
min          1.000000    18.00000     1.000000       25.000000     25.000000
25%        250.750000    29.00000     1.000000       30.000000     60.000000
50%        500.500000    42.00000     3.000000       50.000000    135.000000
75%        750.250000    53.00000     4.000000      300.000000    900.000000
max       1000.000000    64.00000     4.000000      500.000000   2000.000000

4. Inspección de los Datos
    - Inspecciona los tipos de datos de cada columna utilizando el atributo dtypes.
    - Cuenta los valores únicos en la columna Producto utilizando el método value_counts().
    - Muestra todos los valores únicos en la columna Tienda utilizando el método unique().

In [17]:
print('Tipos de datos de cada columna del dataframe:')
print(df.dtypes)

Tipos de datos de cada columna del dataframe:
Transaction ID       int64
Date                object
Customer ID         object
Gender              object
Age                  int64
Product Category    object
Quantity             int64
Price per Unit       int64
Total Amount         int64
dtype: object

In [20]:
print('Conteo de Valores unicos de cada columna del dataframe:')
print(df.value_counts(['Product Category']))

Conteo de Valores unicos de cada columna del dataframe:
Product Category
Clothing            351
Electronics         342
Beauty              307
Name: count, dtype: int64

In [21]:
#en este estoy confundida, no hay columna tienda por lo que usaré otra
print('Conteo de Valores unicos de cada columna del dataframe:')
print(df['Gender'].unique())
print(df['Product Category'].unique())

Conteo de Valores unicos de cada columna del dataframe:
['Male' 'Female']
['Beauty' 'Clothing' 'Electronics']

5. Filtrado de Datos
    - Filtra el DataFrame para mostrar solo las filas donde las ventas (Ventas) sean mayores a 50.
    - Filtra el DataFrame para mostrar solo las filas donde el precio (Precio) sea menor a 0.5.
    - Utilizando el método query(), filtra el DataFrame para mostrar las filas donde el producto sea Manzanas y las ventas sean mayores a 30.

In [ ]:
print("Cantidades mayores a 50:")
print(df[df['Quantity'] > 50])

In [ ]:
print('Precios menores a 0.5')
print(df[df['Price per Unit'] < 500]) #0.5 es en millones por lo que cambiaré a 500

In [ ]:
# Cambiar a electrónicos con cantidades mayores a 3
print('Electrónicos con cantidades mayores a 3:')
print(df.query('Quantity > 3 and `Product Category` == "Electronics"'))

6. Slicing de Datos
    - Selecciona y muestra solo las columnas Producto y Ventas del DataFrame.
    - Utilizando loc[], selecciona y muestra las filas de la 5 a la 10 (inclusive) y las columnas Producto y Tienda.
    - Utilizando iloc[], selecciona y muestra las primeras 5 filas y las primeras 3 columnas del DataFrame.

In [ ]:
df.loc[ :, ['Product Category', 'Quantity']]

In [ ]:
df.loc[5:10, ['Product Category', 'Quantity']]

In [36]:
df.iloc[0:5 , 0:3]

   Transaction ID        Date Customer ID
0               1  2023-11-24     CUST001
1               2  2023-02-27     CUST002
2               3  2023-01-13     CUST003
3               4  2023-05-21     CUST004
4               5  2023-05-06     CUST005